nix_layout_python() {
  local env=${1}
  local python=$env/bin/python
  [[ $# -gt 0 ]] && shift

  if [ -z $env ] || [ ! -d $env ]; then
    log_error "Could not find python environment"
    return 1
  fi

  unset PYTHONHOME
  local python_version
  read -r python_version <<<$($python -c "import platform as p;print(p.python_version())")
  if [[ -z $python_version ]]; then
    log_error "Could not find python's version"
    return 2
  fi

  VIRTUAL_ENV=$(direnv_layout_dir)/python-$python_version
  STATIC_VIRTUAL_ENV=$(direnv_layout_dir)/python

  [ -L $VIRTUAL_ENV ] && rm -r $VIRTUAL_ENV
  ln -s $env $VIRTUAL_ENV

  [ -L $STATIC_VIRTUAL_ENV ] && rm -r $STATIC_VIRTUAL_ENV
  ln -s $env $STATIC_VIRTUAL_ENV

  export VIRTUAL_ENV STATIC_VIRTUAL_ENV
  PATH_add "$VIRTUAL_ENV/bin"
}

eval "$(lorri direnv)"
nix_layout_python "$PYTHON_ENV"
